.w-50p {
    width: 50%
}

.w-100p {
    width: 100%
}

.h-50p {
    height: 50%;
}
.h-100p {
    height: 100%;
}

.w-100vw {
    width: 100vw;
}

.h-100vh {
    height: 100vh;
}

.fs-80px{
    font-size: 80px;
}

.fs-16px{
    font-size: 16px;
}

.fs-10px{
    font-size: 10px;
}