<div class="row-center-center w-100vw h-100vh">
    <div class="bkg-login w-50p h-100p">
        <!-- immagine -->
    </div>
    <div class="column-center-center w-50p h-100p">
        <div>
            <div class="row-center-center fs-80px">MOV<div class="color-trattino">-</div> X</div>
            
            <div  class="row-center-center fs-16px">EXPERIENCE MANAGER TOOLS</div>
            
            <!-- form login -->
            <form>
                <div>
                    <input class="w-100p bkg-user-pass-input"  type="text" id="username" placeholder="Username">
                </div>
                <div>
                    <input class="w-100p bkg-user-pass-input" type="password" id="password" placeholder="Password">
                </div>
                <button class="w-100p color-button" type="button">LOGIN</button>
            </form>
        </div>
        <div>
            <img class="h-50p" src="assets/img/logo_ic.png">
            <!-- footer  -->
            <div  class="row-center-center fs-10px">© 2024 Invisible Cities Srl</div>
        </div>
    </div>
</div>