@font-face {font-family: "zixfont";
  src: url('http://18.153.110.17:1200/fonts/zixfont.eot?t=1696240522466'); /* IE9*/
  src: url('http://18.153.110.17:1200/fonts/zixfont.eot?t=1696240522466#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("zixfont.woff2?t=1696240522466") format("woff2"),
  url("zixfont.woff?t=1696240522466") format("woff"),
  url('http://18.153.110.17:1200/fonts/zixfont.ttf?t=1696240522466') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('http://18.153.110.17:1200/fonts/zixfont.svg?t=1696240522466#zixfont') format('svg'); /* iOS 4.1- */
}

[class^="zixfont-"], [class*=" zixfont-"] {
  font-family: 'zixfont' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zixfont-alignBottom:before { content: "\ea01"; }
.zixfont-alignCenter:before { content: "\ea02"; }
.zixfont-alignLeft:before { content: "\ea03"; }
.zixfont-alignMiddle:before { content: "\ea04"; }
.zixfont-alignRight:before { content: "\ea05"; }
.zixfont-alignTop:before { content: "\ea06"; }
.zixfont-anchor:before { content: "\ea07"; }
.zixfont-arrowDown:before { content: "\ea08"; }
.zixfont-arrowLeft:before { content: "\ea09"; }
.zixfont-arrowRight:before { content: "\ea0a"; }
.zixfont-arrowUp:before { content: "\ea0b"; }
.zixfont-attachment:before { content: "\ea0c"; }
.zixfont-bed:before { content: "\ea0d"; }
.zixfont-bold:before { content: "\ea0e"; }
.zixfont-calendar:before { content: "\ea0f"; }
.zixfont-camera:before { content: "\ea10"; }
.zixfont-capitalize:before { content: "\ea11"; }
.zixfont-charts:before { content: "\ea12"; }
.zixfont-check:before { content: "\ea13"; }
.zixfont-chevronDown:before { content: "\ea14"; }
.zixfont-chevronLeft:before { content: "\ea15"; }
.zixfont-chevronRight:before { content: "\ea16"; }
.zixfont-chevronUp:before { content: "\ea17"; }
.zixfont-circleCross:before { content: "\ea18"; }
.zixfont-clock:before { content: "\ea19"; }
.zixfont-copy:before { content: "\ea1a"; }
.zixfont-cross:before { content: "\ea1b"; }
.zixfont-documents:before { content: "\ea1c"; }
.zixfont-dots:before { content: "\ea1d"; }
.zixfont-download:before { content: "\ea1e"; }
.zixfont-edit:before { content: "\ea1f"; }
.zixfont-excel:before { content: "\ea20"; }
.zixfont-female:before { content: "\ea21"; }
.zixfont-funnel:before { content: "\ea22"; }
.zixfont-funnelStroke:before { content: "\ea23"; }
.zixfont-gear:before { content: "\ea24"; }
.zixfont-groups:before { content: "\ea25"; }
.zixfont-image:before { content: "\ea26"; }
.zixfont-indent:before { content: "\ea27"; }
.zixfont-info:before { content: "\ea28"; }
.zixfont-italic:before { content: "\ea29"; }
.zixfont-justifyFull:before { content: "\ea2a"; }
.zixfont-link:before { content: "\ea2b"; }
.zixfont-lock:before { content: "\ea2c"; }
.zixfont-lowercase:before { content: "\ea2d"; }
.zixfont-mail:before { content: "\ea2e"; }
.zixfont-male:before { content: "\ea2f"; }
.zixfont-maximize:before { content: "\ea30"; }
.zixfont-menu:before { content: "\ea31"; }
.zixfont-minus:before { content: "\ea32"; }
.zixfont-move:before { content: "\ea33"; }
.zixfont-open:before { content: "\ea34"; }
.zixfont-orderedList:before { content: "\ea35"; }
.zixfont-outdent:before { content: "\ea36"; }
.zixfont-paste:before { content: "\ea37"; }
.zixfont-pdf:before { content: "\ea38"; }
.zixfont-pencil:before { content: "\ea39"; }
.zixfont-place:before { content: "\ea3a"; }
.zixfont-plus:before { content: "\ea3b"; }
.zixfont-refresh:before { content: "\ea3c"; }
.zixfont-search:before { content: "\ea3d"; }
.zixfont-sortArrows:before { content: "\ea3e"; }
.zixfont-strikethrough:before { content: "\ea3f"; }
.zixfont-subscript:before { content: "\ea40"; }
.zixfont-superscript:before { content: "\ea41"; }
.zixfont-switchOff:before { content: "\ea42"; }
.zixfont-today:before { content: "\ea43"; }
.zixfont-underline:before { content: "\ea44"; }
.zixfont-unlock:before { content: "\ea45"; }
.zixfont-unorderedList:before { content: "\ea46"; }
.zixfont-upload:before { content: "\ea47"; }
.zixfont-uppercase:before { content: "\ea48"; }
.zixfont-users:before { content: "\ea49"; }
.zixfont-world:before { content: "\ea4a"; }
.zixfont-zoomIn:before { content: "\ea4b"; }
.zixfont-zoomOut:before { content: "\ea4c"; }

$zixfont-alignBottom: "\ea01";
$zixfont-alignCenter: "\ea02";
$zixfont-alignLeft: "\ea03";
$zixfont-alignMiddle: "\ea04";
$zixfont-alignRight: "\ea05";
$zixfont-alignTop: "\ea06";
$zixfont-anchor: "\ea07";
$zixfont-arrowDown: "\ea08";
$zixfont-arrowLeft: "\ea09";
$zixfont-arrowRight: "\ea0a";
$zixfont-arrowUp: "\ea0b";
$zixfont-attachment: "\ea0c";
$zixfont-bed: "\ea0d";
$zixfont-bold: "\ea0e";
$zixfont-calendar: "\ea0f";
$zixfont-camera: "\ea10";
$zixfont-capitalize: "\ea11";
$zixfont-charts: "\ea12";
$zixfont-check: "\ea13";
$zixfont-chevronDown: "\ea14";
$zixfont-chevronLeft: "\ea15";
$zixfont-chevronRight: "\ea16";
$zixfont-chevronUp: "\ea17";
$zixfont-circleCross: "\ea18";
$zixfont-clock: "\ea19";
$zixfont-copy: "\ea1a";
$zixfont-cross: "\ea1b";
$zixfont-documents: "\ea1c";
$zixfont-dots: "\ea1d";
$zixfont-download: "\ea1e";
$zixfont-edit: "\ea1f";
$zixfont-excel: "\ea20";
$zixfont-female: "\ea21";
$zixfont-funnel: "\ea22";
$zixfont-funnelStroke: "\ea23";
$zixfont-gear: "\ea24";
$zixfont-groups: "\ea25";
$zixfont-image: "\ea26";
$zixfont-indent: "\ea27";
$zixfont-info: "\ea28";
$zixfont-italic: "\ea29";
$zixfont-justifyFull: "\ea2a";
$zixfont-link: "\ea2b";
$zixfont-lock: "\ea2c";
$zixfont-lowercase: "\ea2d";
$zixfont-mail: "\ea2e";
$zixfont-male: "\ea2f";
$zixfont-maximize: "\ea30";
$zixfont-menu: "\ea31";
$zixfont-minus: "\ea32";
$zixfont-move: "\ea33";
$zixfont-open: "\ea34";
$zixfont-orderedList: "\ea35";
$zixfont-outdent: "\ea36";
$zixfont-paste: "\ea37";
$zixfont-pdf: "\ea38";
$zixfont-pencil: "\ea39";
$zixfont-place: "\ea3a";
$zixfont-plus: "\ea3b";
$zixfont-refresh: "\ea3c";
$zixfont-search: "\ea3d";
$zixfont-sortArrows: "\ea3e";
$zixfont-strikethrough: "\ea3f";
$zixfont-subscript: "\ea40";
$zixfont-superscript: "\ea41";
$zixfont-switchOff: "\ea42";
$zixfont-today: "\ea43";
$zixfont-underline: "\ea44";
$zixfont-unlock: "\ea45";
$zixfont-unorderedList: "\ea46";
$zixfont-upload: "\ea47";
$zixfont-uppercase: "\ea48";
$zixfont-users: "\ea49";
$zixfont-world: "\ea4a";
$zixfont-zoomIn: "\ea4b";
$zixfont-zoomOut: "\ea4c";

